@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;400&family=Roboto:wght@400;700&display=swap");

/* presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #071952;
  --secondary-text-color: #577592;
  --accent-color-dark: #1b6b93;
  --accent-color: #2294ed;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: "roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

/* utility classes */
.small-bold-text {
  font-size: 1rem;
  font-weight: 700;
}
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}
.hover-link {
  color: var(--primary-text-color);
}
.hover-link:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.primary-button {
  background-color: var(--accent-color);
  border-radius: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.primary-button:hover {
  background-color: var(--accent-color-dark);
  transition: 0.2s ease-out;
}

.secondary-button {
  /* border: 0.5px solid var(--secondary-text-color); */
  border-radius: 6px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
}
.secondary-button:hover {
  border-color: var(--accent-color);
  background-color: rgb(225, 225, 225);
  transition: 0.2s ease-out;
}

/* Top Banner */
.top-banner {
  background-color: #4dadf7;
  background-image: url(assets/asset\ 32.png);
  background-size: 300px;
}
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
}

/* Navbar */
.main-nav {
  justify-content: space-between;
  margin-top: 20px;
}
.company-logo img {
  width: 200px;
}
.nav-links {
  flex-basis: 730px;
}
.nav-links ul {
  justify-content: end;
  gap: 40px;
}

/* Header-Section */
header {
  padding: 50px var(--padding-inline-section) 0;
}
.header-section {
  justify-content: center;
  gap: 50px;
}
.header-left {
  max-width: 40vw;
}
.header-left h1 {
  font-size: 4rem !important;
  padding-bottom: 20px;
}
.header-btn {
  margin-top: 20px;
}
.header-right img {
  width: 600px;
}

/* Companies Section */
.company-header {
  text-align: center;
  margin-block: 30px;
  columns: var(--primary-text-color);
}
.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  height: 46px;
}

/* Features Section */
.features-section {
  padding: 80px var(--padding-inline-section) 0;
  background-image: url(assets/asset\ 34.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.features-header {
  text-align: center;
}
.features-header-text {
  margin-bottom: 30px;
}
.grid-container {
  margin: 30px;
  display: grid;
  gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.grid-items img {
  height: 49px;
  margin: 10px;
}

/* Big Features section */
.big-features-section{
    justify-content: center;
    gap: 150px;
    padding: 50px var(--padding-inline-section) 0;

}
.img-left-big-section{
    width:550px;
    max-width: 40vw;
    margin: 30px;
}
.section-logo{
    width: 120px;
    margin-block: 20px;
}
.feature-section-right{
    align-items:flex-start;
}
.feature-section-right-head{
    margin-bottom: 10px;
}
.passport{
    width: 65px;
    margin-block: 12px;
    margin-right: 10px;
}

/* Example Section */
.example-area{
    justify-content: space-between;
    margin-block: 50px;
}
.example-card{
    width: 23%;
    gap: 20px;
    position: relative;
    min-height: 300px;
    background-color: black;
    background-image:url(assets/asset\ 36.jpeg);
    background-size: cover;
    border-radius: 10px;

}
.example-card:hover{
  box-shadow: 0 0 20px black;
  transition: 0.2s ease-out;
}

.card-text{
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
    color: white;
}

/* cta section */
.cta-section> .flex{
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: #1D5B79;
}
.cta-container{
  padding-block: 100px;
  color: white;
}

/* footer section */
.footer-container{
  padding: 30px;
  justify-content: flex-start;
  padding-block: 60px;
  justify-content: space-between;
}
footer{
  background-color: #ebf2fa;
}
.footer-container > .flex{
  justify-content: space-around;

}
.link-column{
  flex-direction: column;
  gap: 20px;
}

/* sub-footer section */
.sub-footer{
  padding: var(--padding-inline-section);
  
  background-color: #b9cde4;

}
.sub-footer-container {
  justify-content: center;
  gap: 30px;
}
